/Content Based Recommender/.ipynb_checkpoints/
/Content Based Recommender/data/
/Content Based Recommender/mpst-movie-plot-synopses-with-tags.zip
/Content Based Recommender/.idea/
/.idea
/Collaborative Filtering Based Recommender/.idea/
/Collaborative Filtering Based Recommender/ml-latest/
/Collaborative Filtering Based Recommender/ml-latest-small/
/Collaborative Filtering Based Recommender/Files.zip
/Collaborative Filtering Based Recommender/ml-latest.zip
/Collaborative Filtering Based Recommender/ml-latest-small.zip
